@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Global */
body {
  font-family: 'Open Sans', sans-serif;
}

hr {
  border-width: 1px;
  border-style: solid;
}

.center-text {
  text-align: center;
}

.small {
  font-size: 85%;
}

.monsum-navbar {
  background-color: #F0C30F;
}

.monsum-navbar-brand {
  padding: 5px;
}

.monsum-navbar-brand  img{
  width: 66px;
}

.monsum-navbar .monsum-navbar-nav > li > a {
  color: white;
  font-weight: bold;
}

.monsum-navbar .monsum-navbar-nav > li > a:hover {
  color: #D01F25;
}

.monsum-navbar .monsum-navbar-nav > li > a:focus {
  color: white;
}

.monsum-navbar .monsum-navbar-nav > li.active > a,
.monsum-navbar .monsum-navbar-nav > li.active > a:hover,
.monsum-navbar .monsum-navbar-nav > li.active > a:focus {
  color: white;
  background-color: #D01F25;
}

.monsum-blue {
  color: #F0C30F;
}

.monsum-gray {
  color: #808080;
}

.monsum-orange {
  color: #D01F25;
}

.monsum-navbar
.navbar-toggle {
  border-color: white;
}

.monsum-navbar .navbar-toggle:hover,
.monsum-navbar .navbar-toggle:focus {
  background-color: #D01F25;
}

.monsum-navbar
.navbar-toggle
.icon-bar {
  background-color: white;
}

.required-label {
  font-weight: bold;
  font-size: 18px;
}

/* <section>s utils */
.section-red {
  color: #F0C30F;
  background-color: #D01F25;
}

.section-white hr {
  border-color: #414141;
}

.section-yellow {
  color: #D01F25;
  background-color: #F0C30F;
}

.section-blue hr {
  border-color: #fff;
}

.section-header {
  margin-bottom: 10px;
}

.section-white,
.section-blue {
  padding: 40px 0;
}

/* Header */
#header {
  margin-top: 50px;
}

.header-container {
  display: flex;
  justify-content: center;
}

.header-container img {
  width: 500px;
}

/* Carrousel */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}

.carousel-caption h1 {
  font-weight: bold;
  color: #D01F25;
}

.carousel .item {
  width: 1200px;
  height: 500px;
  background-color: #777;
}

.intro-page {
  padding-top: 50px;
  height: 600px;
  text-align: center;
}

/* Workshop */
.workshop-container {
  text-align: center;
}

.workshop-items-container .small {
  text-align: justify;
}

.workshop-item
.item-title {
  margin-bottom: 20px;
}

.workshop-item
.item-subtitle {
  margin-bottom: 20px;
  font-weight: 700;
}

.workshop-item
.item-img {
  width: 200px;
  height: 200px;
}

.workshop-item hr {
  width: 100%;
}

/* Map */
#map {
  height: 400px;
  width: 100%;
}

/* Footer */
.footer-container {
  margin: auto;
}

.footer-container h4 {
  padding-left: 10px;
}

.footer-container
.footer-icon {
  display: flex;
}

.footer-container
.footer-icon img {
  width: 66px;
}

.footer-container
.footer-top {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-top-hr {
  margin-top: 0;
}

.footer-container
.monitora-logo img {
  width: 150px;
  height: 36px;
}

.footer-container
.footer-bottom {
  text-align: center;
}

/* Media Query */
@media (max-width: 415px) {
  .carousel .item {
    width: 300px;
    height: 200px;
  }

  .carousel {
    width: 300px;
    height: 200px;
  }

  .carousel .item img {
    height: 200px;
  }

  .carousel-caption h1 {
    display: none
  }

  .intro-page {
    padding-top: 25px;
    height: 250px;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 414px) and (max-width: 425px) {
  .carousel .item {
    width: 390px;
    height: 200px;
  }

  .carousel-caption h1 {
    display: none
  }

  .carousel .item img {
    height: 200px;
  }

  .carousel {
    width: 390px;
    height: 200px;
  }

  .intro-page {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    height: 250px;
  }
}

@media (max-width: 767px) {
  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    text-align: center;
  }

  .header-container > div {
    flex-basis: unset;
  }

  .header-right-box {
    margin-top: 20px;
  }

  .header-title {
    font-size: 38px;
  }

  .header-subtitle {
    font-size: 20px;
  }

  .footer-top {
    flex-direction: column;
    text-align: center;
  }

  .footer-icon {
    align-self: center;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {
}
